body{
    background-image: linear-gradient(#636162, #b1afaf);
    height: 220vh;
    font-weight: bold;
    letter-spacing: 2px;
}

*{
    margin: 0;
    padding: 0;
    font-family: "montserrat", sans-serif;
}

a{
    color: inherit;
    text-decoration: none;
}

.main{
    background-color: #fff;
    height: auto;
    width: 650px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 34rem;
}

.left{
    background-color: #fbb03b;
    max-width: 200px;
    height: 100%;
    float: left;
}

.right{
    max-width: 69%;
    float: left;
}

.profile-image{
    height: 180px;
    width: 180px;
    background-color: #ddd;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: 60px;
    border: 10px solid #fbb03b;
    box-shadow: 6px 7px 9px 5px #fbb03b73;
}

.profile-image img{
    width: 100%;
    border-radius: 50%;
}

.box-1{
    position: relative;
}

.heading{
    background-color: #4d4d4d;
    padding: 10px;
    color: #fbb03b;
    text-align: left;
    padding-left: 20px;
    margin-right: -15px;
}

.heading::after{
    content: '';
    position: absolute;
    width: 21px;
    height: 18px;
    background-color: #5a5959;
    left: 191px;
    top: 26px;
    transform: rotate(56deg);
    z-index: -1;
}

.p1{
    padding: 9px 10px;
    font-size: 11px;
}

.icons1{
    padding-right: 10px !important;
    font-size: 16px !important;
    vertical-align: sub;
}

.skill-container{
    width: 90%;
    background-color: #4d4d4d;
    margin: 0px 10px;
}

.skill{
    text-align: right;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #fff;
}

.html{
    width: 90%;
    background-color: #fff
}
.css{
    width: 85%;
    background-color: #fff
}
.js{
    width: 85%;
    background-color: #fff
}
.react{
    width: 80%;
    background-color: #fff
}
.next{
    width: 70%;
    background-color: #fff
}
.node{
    width: 65%;
    background-color: #fff
}
.mongodb{
    width: 55%;
    background-color: #fff
}
.urdu{
    width: 93%;
    background-color: #fff
}
.english{
    width: 70%;
    background-color: #fff
}


.social-link{
    display: flex;
    justify-content: space-evenly;
    height: 6rem;
}

.portfolio{
    display: flex;
    justify-content: space-evenly;
}

.port-link {
    width: 7rem;
    border-radius: 15px;
    margin: 10px 0px;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fbb03b;
}


.hobbies{
    display: flex;
    justify-content: space-evenly;
}
.link {
        width: 3rem;
        border-radius: 50%;
        margin: 10px 0px;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
  .link:hover{
    background-color: #4d4d4d;
    color: #fbb03b;
    transition: 1s;
  }

  .port-link:hover {
    background-color: #4d4d4d;
    color:#fbb03b;
    transition: 1s;
  }

/* right side work */

.name-div{
    padding: 86px 0 0px 55px;
    text-align: center;
    letter-spacing: 3px;
}

.name-div h1{
    margin-bottom: 10px;
}

.box-2{
    padding: 0px 50px;
    margin-top: 30px;
    margin-bottom: 1rem;
}

.p2{
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 18px;
    margin-top: 10px;
}

.h2{
    font-size: 16px;
    margin-bottom: 15px;
}

.icons3{
    vertical-align: bottom;
    font-size: 21px !important;
    color: #4d4d4d;
}

.p3{
    font-size: 15px;
    letter-spacing: 0px;
    word-spacing: 1px;
    margin-top: 0.8rem;
}

.p3 span{
    color: #ff9b00;
    padding-left: 20px;
}

/* Media Quries */

@media only screen and (min-width: 500px) and (max-width: 700px) {
    body{
        height: 265vh;
        letter-spacing: 0;
    }
    .main{
        width: 470px;
        top: 650px;
    }
    .left{
        width: 145px;
    }
    .heading{
        margin-right: -11px;
    }
    .heading::after{
        left: 130px;
        top: 26px;
        height: 21px;
        transform: rotate(53deg);
    }
    .profile-image{
        height: 150px;
        width: 150px;
    }
    .name-div{
        padding: 70px 0 0px 74px;
        letter-spacing: 0;
    }
    .name-div h1{
        font-size: 23px;
    }
    .name-div p{
        font-size: 13px;
    }
    .left{
        height: 75.3rem;
    }
}

@media only screen and (min-width: 449px) and (max-width: 499px) {
    body{
        height: 130vh;
        letter-spacing: 0;
    }
   .main{
    transform: scale(0.6);
    left: -21%;
    top: -11rem;
   }
}

@media only screen and (min-width: 399px) and (max-width: 448px) {
    body{
        height: 115vh;
        letter-spacing: 0;
    }
   .main{
    transform: scale(0.5);
    left: -29%;
    top: -14rem;
   } 
}

@media only screen and (min-width: 349px) and (max-width: 398px) {
    body{
        height: 110vh;
        letter-spacing: 0;
    }
   .main{
    transform: scale(0.48);
    left: -40%;
    top: -14rem;
   } 
}

@media only screen and (max-width: 348px) {
    body{
        height: 90vh;
        letter-spacing: 2px;
    }
   .main{
    transform: scale(0.39);
    left: -54%;
    top: -17rem;
   } 
}