body{
    background-image: linear-gradient(#636162, #b1afaf);
    height: 200vh;
    font-weight: bold;
    letter-spacing: 2px;
}

*{
    margin: 0;
    padding: 0;
    font-family: "montserrat", sans-serif;
}

a{
    color: inherit;
    text-decoration: none;
}

.main{
    background-color: #fff;
    height: auto;
    width: 650px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 80%;
}

.left{
    background-color: #fbb03b;
    width: 200px;
    height: 100%;
    float: left;
}

.right{
    width: 450px;
    float: left;
}

.profile-image{
    height: 180px;
    width: 180px;
    background-color: #ddd;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: 60px;
    border: 10px solid #fbb03b;
    box-shadow: 6px 7px 9px 5px #fbb03b73;
}

.profile-image img{
    background-color: red;
    width: 100%;
    border-radius: 50%;
}

.box-1{
    position: relative;
}

.heading{
    background-color: #4d4d4d;
    padding: 10px;
    color: #fbb03b;
    text-align: left;
    padding-left: 20px;
    margin-right: -15px;
}

.heading::after{
    content: '';
    position: absolute;
    width: 21px;
    height: 18px;
    background-color: #5a5959;
    left: 191px;
    top: 26px;
    transform: rotate(56deg);
    z-index: -1;
}

.p1{
    padding: 9px 10px;
    font-size: 11px;
}

.icons1{
    padding-right: 10px !important;
    font-size: 16px !important;
    vertical-align: sub;
}

.skill-container{
    width: 90%;
    background-color: #4d4d4d;
    margin: 0px 10px;
}

.skill{
    text-align: right;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #fff;
}

.html{
    width: 90%;
    background-color: #fff
}
.css{
    width: 80%;
    background-color: #fff
}
.js{
    width: 85%;
    background-color: #fff
}
.react{
    width: 90%;
    background-color: #fff
}
.next{
    width: 70%;
    background-color: #fff
}
.node{
    width: 65%;
    background-color: #fff
}
.mongodb{
    width: 55%;
    background-color: #fff
}
.web{
    width: 85%;
    background-color: #fff
}
.graphic{
    width: 70%;
    background-color: #fff
}

.icons2{
    padding: 18px 10px;
}

.social-link{
    display: flex;
    justify-content: space-evenly;
}

/* right side work */

.name-div{
    padding: 86px 0 60px 55px;
    text-align: center;
    letter-spacing: 3px;
}

.name-div h1{
    margin-bottom: 10px;
}

.box-2{
    padding: 0px 50px;
    margin-top: 30px;
}

.p2{
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 18px;
    margin-top: 5px;
}

.h2{
    font-size: 16px;
    margin-bottom: 15px;
}

.icons3{
    vertical-align: bottom;
    font-size: 21px !important;
    color: #4d4d4d;
}

.p3{
    font-size: 13px;
    letter-spacing: 0px;
    word-spacing: 1px;
    margin-top: 10px;
}

.p3 span{
    color: #ff9b00;
    padding-left: 20px;
}